body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.grid {
  counter-reset: count;
}

.grid ~ .grid {
  margin-top: 60px;
}

.grid > div {
  width: 280px;
  height: 500px;
  background-color: antiquewhite;
}

.grid > div::before {
  counter-increment: count;
  content: counter(count);
}

.grid > div:nth-child(2n + 1) {
  height: 200px;
}

.grid > div:nth-child(3n + 2) {
  height: 400px;
}

.grid > div:nth-child(5n + 3) {
  height: 600px;
}

.grid > div:nth-child(7n + 5) {
  height: 800px;
}

.grid > div:nth-child(11n + 7) {
  height: 1000px;
}
